.footer {
  max-width: 100%;
}

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4rem 2rem;
}

.footer__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer__list li,
Link {
  font-size: 1.3rem;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.2rem;
  color: var(--golden);
  flex-wrap: wrap;
}

.footer__icons {
  color: var(--golden);
}
.footer__icons:hover {
  color: var(--h1-color);
  cursor: pointer;
}

.footer__foot {
  text-align: center;
  margin: 5rem 1rem;
  flex-wrap: wrap;

  cursor: pointer;
  user-select: none;
}

.footer__foot .footer__h1 {
  font-size: 2.5rem;
  margin-top: 2rem;
  line-height: 1.1;
  font-family: "Dancing Script", cursive;

  color: var(--golden);
}
.footer__foot h1:hover {
  color: var(--h1-color);
  cursor: pointer;
}

.footer__foot p {
  font-size: 1.2rem;
}

@media screen and (max-width: 820px) {
  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .footer__foot h1 {
    font-size: 1.5rem;
    line-height: 1.1;
    font-family: "Pinyon Script", cursive;
    color: var(--golden);
    margin-top: 3rem;
  }
}

@media screen and (max-width: 620px) {
  .footer__top {
    flex-direction: column;
    justify-content: space-between;
    margin: 4rem 0;
  }
  .footer__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
    text-align: center;
  }
  .footer__logo {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    font-size: 1.2rem;
  }

  .footer__h1 {
    font-size: 1.2rem;
    line-height: 1.1;
    font-family: "Pinyon Script", cursive;
    color: var(--golden);
    margin-top: 3rem;
  }
}
